{% extends "base.html" %}

{% block content %}
<div class="col-md-12" style="height: 75vh;">

    <div class="row">
        <div class="col-12 d-flex justify-content-center align-items-center" style="height: 15vh;">
            <h2>Mapa ekspansji</h2>
        </div>
    </div>
    <div class="row" style="padding: 5vh;">
    <div class="col-12 d-flex justify-content-center align-items-center" style="height: 45vh;">
        <img src="../../static/ekspansja.gif" class="img-fluid" style="width:80%">
    </div>
    </div>
</div>
{% endblock %}