{% extends "base.html" %}

{% block content %}
<div class="col-md-12" style="height: 75vh;">

    <div class="row">
        <div class="col-12 d-flex justify-content-center align-items-center" style="height: 15vh;">
            <h2>Prawo Przystani</h2>
        </div>
    </div>
    <div class="row">
        <h3><b>Przystań</b> - Frakcja dążąca do utrzymania bezpiecznego terytorium, dla ludzi potrzebujących pomocy/schronienia
            którzy będą pracować na rzecz ekspansji i dobra frakcji.
            Jej głównym celem jest odbudowa przedwojennej korwety ORP Kaszub oraz ekspansja terytorialna.</h3>
    </div>
    <div class="row" style="padding: 5vh;">
        <h3><b>Dla najlepszego funkcjonowania frakcji Kapitan oraz Sztab ustanawia następujące Prawa:</b></h3>
        <h4>1. Każdy Przystaniowiec winien zawsze działać na rzecz frakcji i jej dobro powinno być na pierwszym
            miejscu.</h4>
        <h4>2. Przystani przewodzi Kapitan z pomocą Sztabu.</h4>
        <h4>3. Przystaniowcy mają prawo kwestionować decyzje Sztabu, jeśli nie służą one dobru frakcji. </h4>
        <h4>4. Przewinienia wobec Frakcji, Przystaniowcom oraz sojuszniczym frakcją będą podlegały sądowi
            sztabowemu. </h4>
    </div>
</div>
{% endblock %}