{% extends "base_menu.html" %}

{% block menu_panel %}
<div class="col-md-2 main-menu-menu">
    <div class="row" style="height: 75vh;">
        <div class="col-12 d-flex justify-content-center align-items-center" style="height: 20vh;">
            <h3>Menu</h3>
        </div>
        <div class="col-12" style="height: 55vh;">
            <div class="list-group list-group-flush ">
                <a href="/faction_menu/" class="list-group-item">Frakcja</a>
                <a href="/chronicle_menu/" class="list-group-item">Kronika</a>
                <a href="/artefacts_menu/"class="list-group-item">Artefakty frakcyjne</a>
                <a href="/warehouse_menu/" class="list-group-item">Magazyn</a>
                <a href="/expansion_map/" class="list-group-item">Mapa ekspansji</a>
                <a class="list-group-item"><del>Węzeł komunikacyjny</del></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
