{% extends "warehouse_menu.html" %}

{% block content %}
<div class="col-md-10" style="height: 75vh;">

    <div class="row">
        <div class="col-12 d-flex justify-content-center align-items-center" style="height: 15vh;">
            <h2> + Przyjęcie / Wydanie -:</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
            <div class="col-md-12 d-flex align-items-center justify-content-start" style="height: 40vh;">
                <div class="container mt-3 text-center">
                    <form method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col">
                                <div class="mb-3 mt-3">
                                    <label for="type_input" class="form-label">Czynność</label>
                                    {{ update_form.action_type }}
                                </div>
                            </div>
                            <div class="col">
                                <div class="mb-3 mt-3">
                                    <label for="client_input" class="form-label">Klient</label>
                                    {{ update_form.client }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="mb-3 mt-3">
                                    <label for="item_input" class="form-label">Przedmiot</label>
                                    {{ update_form.item }}
                                </div>
                            </div>
                            <div class="col">
                                <div class="mb-3 mt-3">
                                    <label for="amount_input" class="form-label">Ilość</label>
                                    {{ update_form.amount }}
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 mt-3">
                            <label for="comment_input" class="form-label">Komentarz</label>
                            {{ update_form.comment }}
                        </div>
                        <input type="submit" value="Dodaj">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1">
    </div>
</div>
{% endblock %}

{% block character_panel %}
{% endblock %}
